html {
  overflow-x: hidden;
}

body {
  background-image: url("../images/geometry.png");
  color: #7B7B7B;
  font-size: 14px;
  font-family: "Poppins", Arial, sans-serif;
  margin: 10px;
}

@media only screen and (min-device-width: 600px) {
      .button { width: 200px;}
} 

h1 {
  font-size: 1.3em;
  color: #7b7b7b;
  font-weight: 500;
  margin: 30px auto 0px auto;
}

p.quote {
  font-size: 1.3em;
  color: #F7524B;
  font-weight: 500;
  margin: -10px auto 20px auto;
}

p, ul, ol {
  font-size: 1.1em;
  margin: 0px auto 30px auto;
  color: #7B7B7B;
  font-weight: 300;
  line-height: 1.5;
}

a {
  -webkit-transition: .2s all;
  transition: .2s all;
  color: #F7524B;
  text-decoration: none;
}

.button{
  font-size: 1.2em;
  margin: 0px auto 10px auto;
  font-weight: 300;
  line-height: 1.5;
  border: solid #f7524B 2px;
  display: block;
  padding: 5px;
}

.button:hover, .button:focus {
  color: white;
  border: solid #A053F2 2px;
  background: #A053F2;
  text-decoration: none;
}

.centered-div{
  max-width: 550px; 
  margin: 0px auto; 
  text-align: center;
  background-color: rgba(250,250,250,.6);
  padding: 10px 20px;
}

img{
  margin: 10px auto -10px auto;
}

#logomark{
  margin-left: -12px;
}

.icon{
  max-width: 48px;
  padding: 0px 7px;
}

.gallery{
  max-width: 70%;
  border: 5px #eeeeee solid;
  padding: 5px;
}

p.imageTitle {
  font-style: italic;
  font-size: 1em;
  padding-top: 5px;
}